@mixin sm {
  @media (max-width: 750px) {
    @content;
  }
}

@mixin md {
  @media (max-width: 750px) {
    @content;
  }
}

@mixin lg {
  @media (max-width: 750px) {
    @content;
  }
}

@mixin transition($prop) {
  transition: $prop 0.3s ease-out;
}

@mixin font-weight-bold {
  font-weight: bold;
  transform: rotate(0.03deg);
}
